<li class="post-list-item">
  <div class="artist">Song by: <%= p.artist %></div> 
  <div class="lyric">"<%= p.lyric %>" </div>

  <br />
  <div class="lyric_link">
    <iframe src="<%= p.embed_url %>" frameborder="0" allowfullscreen></iframe>
  </div>
  <a href="<%= p.link_url %>">Original Link</a>

</li>