<li class="post-list-item">
  <div class="artist">Song by: <%= p.artist %></div> 
  <div class="lyric">"<%= p.lyric %>" </div>

  <br />
  <div class="lyric_link"><a href="<%= p.link_url %>">Listen to the song</a></div>
</li>