<div class="row">

  <%= render "/posts/sideAjaxForm" %>


  <div class="col-sm-8">

    <h1>Lyrics</h1>

    <div class="post-div">
      <ul id="post-list">
        <% @posts.each do |p| %>
          <%= render 'posts/postItem', p: p %>
        <% end %>
      </ul>
    </div>
  </div>

</div>
