<h1>Listing posts</h1>




<div class="post_div">
  <ul class="post_list">
    <% @posts.each do |p| %>
      <li class="post_list_item">
        <div class="lyric"><%= p.lyric %> </div>
        <br />
        <div class="artist"><%= p.artist %></div> 
        <br />
        <div class="lyric_link"><a href="<%= p.link_url %>">Listen to the song</a></div>
        <br />
      </li>
    <% end %>
  </ul>
</div>

  
<%= link_to 'New Post', new_post_path %>
